.carouselOuterWrapper{
display: flex;
flex-flow: row nowrap;
justify-content: center;
}

.carouselInnerWrapper{
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 1000px;
  height: 700px;
}